* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: rgb(53, 52, 52);
}
header {
  width: 100%;
  height: 55vh;
  background: url(../assets/design1_image1.jpg);
  background-size: cover;
  background-position: 0 -150px;
  padding: 1rem;
}
header h1 {
  font-size: 40px;
  font-weight: bolder;
  color: aliceblue;
  text-shadow: black 1px 1px 5px;
}
.logo {
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 47vh;
  right: 10vw;
}

body > h2 {
  max-width: 100%;
  
  background-color: black;
  color: aliceblue;
  text-align: center;
  height: 50px;
  padding: 10px;
}

nav {
  padding: 50px;
  width: 35vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
.nav-home {
  background: url(../assets/hockey_1.jpg);
}
.nav-about {
  background: url(../assets/hockey_2.jpg);
}
.nav-contact {
  background: url(../assets/hockey_3.jpg);
}

body nav a {
  display: block;
  margin-bottom: 50px;
  max-width: 20rem;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: aliceblue;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: black 1px 1px 5px;
  box-shadow: rgba(255, 166, 0, 0.265) 0px 0px 15px;
  transition: transform 1s;
  border-radius: 30px;
  border: solid 3px rgba(0, 0, 0, 0.817);
  text-align: center;
}
nav a:hover,
.current:hover {
  transform: scale(1.2);
  background-color: rgb(255, 191, 0);
  box-shadow: rgb(255, 166, 0) 0px 0px 15px;
}
body {
  width: 100vw;
  display: inline-block;
}
section {
  color: rgb(153, 154, 155);
  display: inline-block;
  vertical-align: top;
  padding: 3rem;
  height: 100%;
  width: 60%;
}
section p {
  margin-top: 5px;
  padding-left: 1.5rem;
}

.contact-section {
  position: absolute;
  height: 200px;
}
.contact-section a {
  color: rgb(70, 70, 252);
}
.about-section {
  position: absolute;
  padding-top: 2rem;
  padding-left: 3rem;
  width: 65vw;
  font-size: 0.9rem;
}
.current {
  transition: animation 2s;
  transition: transform 1s;
  animation: currentSection alternate-reverse infinite 2s;
}

@keyframes currentSection {
  0% {
  }
  25% {
    color: black;

    text-shadow: white 1px 1px 15px;
  }
  50% {
    color: orange;
  }
  100% {
    color: aliceblue;
  }
}
