@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Julee", cursive;
  overflow-x: hidden;
}
body {
  width: 100vw;
  background-color: rgb(72, 72, 72);
  overflow-x: hidden;
}
/* Encabezado */
header {
  width: 100vw;
  height: 15vh;
  background: url(../assets/design1_image1.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 1rem 3rem;
  background-repeat: no-repeat;
  transition: all 1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  animation: banner 5s infinite alternate-reverse ease-in-out;
}
header:hover {
  height: 35vh;
  background-position: center;
  align-items: center;
  transition: all 1s;
}

.logo {
  height: 8rem;
}

header h1 {
  font-family: "zeyada", cursive;
  font-size: 3.5rem;
  font-weight: bolder;
  color: aliceblue;
  text-shadow: black 1px 1px 5px;
}

nav {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-end;
}

nav a {
  max-width: 13rem;
  text-decoration: none;
  font-family: "Julee", cursive;
  color: rgb(237, 237, 238);
  background-color: #53535358;
  font-size: 1.1rem;
  font-weight: bolder;
  text-shadow: rgba(0, 0, 0, 0.765) 1px 1px 5px;
  box-shadow: rgba(255, 166, 0, 0.265) 0px 0px 15px;
  transition: transform 1s;
  border-radius: 15px;
  border: solid 3px rgba(0, 0, 0, 0.817);
  text-align: center;
  padding: .5rem;
}
nav a:hover,
.current:hover {
  transform: scale(1.2);
  background-color: rgb(255, 191, 0);
  box-shadow: rgb(255, 166, 0) 0px 0px 15px;
}

/* grales retoques */
body {
  animation: fondo 60s infinite alternate-reverse ease-in;
}

.sectionTitle {
  font-family: "Julee", cursive;
  font-size: 2.4rem;
  background-color: black;
  color: aliceblue;
  text-align: center;
  top: 7.5rem;
  width: 100vw;
  height: 70px;
  margin-bottom: 5rem;
  padding: 0.7rem 0;
}
section {
  color: rgb(153, 154, 155);
  width: 50vw;
  display: flex;
  padding: 3rem;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 40px;
  background: #353434;
  box-shadow: 21px 21px 42px #292828, -21px -21px 42px #414040;
}

section p {
  margin-top: 5px;
  padding-left: 1.5rem;
}

.registerForm,
.rules,
.gameInfo,
.home {
  width: 70vw;
  margin-bottom: 5rem;
}

/* Sección de contacto */
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-shadow: rgba(174, 174, 174, 0.79) 3px 0px 5px;
}
.contact a {
  color: rgb(109, 109, 248);
  
}

.contactImgContainer{
  padding: 1.5rem;
}

.contactImgContainer img{
  min-width: 4rem;
  max-width: 9rem;
  width: 8vw;
  animation: send 3s infinite ease-in-out;
}

/* Sección de about */
.about {
  padding-top: 2rem;
  padding-left: 3rem;
  width: 65vw;
  font-size: 0.9rem;
}
.about > H2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about > h2 > img {
  border-radius: 100%;
}
.current {
  transition: animation 2s;
  transition: transform 1s;
  animation: currentSection alternate-reverse infinite 2s;
}

.sectionTitleContainer {
  text-align: center;
}
.infoTitleContainer h2 {
  text-align: right;
  margin-bottom: 1rem;
}
.infoTitleContainer p {
  text-decoration: underline;
}

/* Sección de reglas */
.rules h2,
.rules h3 {
  color: rgba(185, 186, 187, 0.941);
  margin: 0.5rem 0;
}

.rules ul {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.rules ul li {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fieldsList {
  list-style-type: lower-alpha;
  margin-left: 3rem;
}

/* Sección de infomacion de juego */

.gameInfo table {
  margin-top: 2rem;
  border-collapse: separate;
  border-spacing: 0.4rem;
}
table th,
table td {
  border: solid rgba(245, 222, 179, 0.062) 1px;
  padding: 0.4rem;
}
table th:hover,
table td:hover {
  border: solid rgba(245, 222, 179, 0.571) 1px;
}

td a img {
  height: 1.5rem;
  transition: transform 1s;
}
td a img:hover {
  transform: scale(1.3);
  transition: all 1s;
}
.infoContainer {
  border-top: #4c4b4b solid 1px;
  margin-top: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.infoContainer .referToContainer {
  display: flex;
  justify-content: space-between;
}
.map {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
#lastLi {
  display: list-item;
  margin-left: 2rem;
  list-style-type: circle;
}
/* Sección de formulario */

.registerForm h2 {
  font-size: 2rem;
  color: aliceblue;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}
form fieldset {
  border-radius: 7px;
  padding: 1rem;
}
form fieldset:hover {
  background-color: #3a3a3a;
  color: #ece9e9;
}
form fieldset fieldset {
  padding: 0.3rem;
}
form legend {
  color: rgb(240, 240, 240);
  padding: 1rem;
  font-size: 1.5rem;
}
.personal_info {
  color: #b3b2b2;
  display: flex;
  flex-direction: column;
  line-height: 1.7rem;
  gap: 0.7rem;
  border-color: #ece9e9;
}
.name_container,
.city_container {
  display: flex;
  gap: 2rem;
}
.personal_info input {
  border-radius: 6px;
  height: 2rem;
  background-color: #f1f1f1;
}
.personal_info fieldset {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  border-color: #6b6b6b;
}
.school_info {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-left: 2rem;
}
form select {
  border-radius: 5px;
  width: 15rem;
  height: 2.4rem;
}

.position_info,
.size_info {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.position_info label {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}
.size_info label {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.permission_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.signature_container {
  display: flex;
  justify-content: right;
  padding-right: 3rem;
  gap: 1rem;
}
.signature_container label {
  display: flex;
  gap: 1.1rem;
}
.submit_btn {
  width: 20vw;
  height: 3rem;
  align-self: center;
  border-radius: 5px;
}

/* Sección de footer */
footer {
  position: fixed;
  bottom: 0;
  background-color: #141414;
  text-align: center;
  width: 100vw;
  padding: 0.5rem;
  opacity: 0.9;
}
footer p {
  color: rgba(240, 248, 255, 0.922);
}

@media screen and (max-width: 768px) {
  html,
  body,
  header {
    display: block;
  }
  header {
    height: 50vh;
    flex-direction: column;
    width: 100vw;
    padding: 0.5rem .1rem;
    gap: 0;
  }
  header h1 {
    font-size: 1.8rem;
  }
  header .logo {
    transform: scale(0.8);
  }
  header nav {
    flex-direction: row;
    gap: 0.25rem;
  }
  header nav a {
    font-size: 0.34rem;
    padding: 0.1rem;
    border-radius: 9px;
    border: solid 2px rgba(27, 27, 27, 0.847);
  }
  .sectionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
  section {
    font-size: 0.7rem;
  }
  section h2 {
    font-size: 1rem;
  }
  .about img {
    transform: scale(0.5);
  }
  .about {
    font-size: .5rem;
    width: 85%;
    margin-bottom: 2.5rem;
  }
  .about h2{
    font-size: .7rem;
    flex-direction: column-reverse;
    gap: 0;
  }
  .registerForm {
    width: 93vw;
    padding: 0.3rem;
  }
  .personal_info,
  .school_info {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 0.7rem;
    padding: 0.1rem;
  }
  div label input, fieldset input {
    display: flex;
  }
  .text_input{
    width: 6.5rem;
  }
  .name_container,
  .city_container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  fieldset legend {
    font-size: 1rem;
  }
  .permission_info{
    padding: .1rem;
  }
  .contact{
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .gameInfo {
    width: 90vw;
    padding: 0.8rem;
  }
  table {
    font-size: 0.8rem;
  }
  .map {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 35vh;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }
  header h1 {
    font-size: 1.8rem;
  }
  img {
    transform: scale(0.75);
  }
  nav {
    width: 100vw;
    flex-wrap: nowrap;
  }
  nav a {
    font-size: 0.8rem;
    width: 6rem;
  }
  .sectionTitle {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.7rem;
  }
  body {
    animation: smallBack 100s infinite ease-in-out;
  }
  .signature_container {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  header h1 {
    font-size: 2.5rem;
  }
  nav a {
    font-size: 0.9rem;
    flex-wrap: wrap;
    padding: 0.4rem;
  }
}

@keyframes currentSection {
  25% {
    color: black;

    text-shadow: white 1px 1px 15px;
  }
  50% {
    color: orange;
  }
  100% {
    color: aliceblue;
  }
}
@keyframes banner {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

@keyframes fondo {
  0% {
    background: url(../assets/hockey_1.jpg);
    background-position: 0 10rem;
  }
  15% {
    background: url(../assets/hockey_2.jpg);
    background-position: 0 10rem;
  }
  35% {
    background: url(../assets/hockey_3.jpg);
    background-position: 0 10rem;
  }
  50% {
    background: url(../assets/hockey_1.jpg);
    background-position: 0 10rem;
  }
  75% {
    background: url(../assets/hockey_2.jpg);
    background-position: 0 10rem;
  }
  100% {
    background: url(../assets/hockey_3.jpg);
    background-position: 0 10rem;
  }
}
@keyframes smallBack {
  0% {
    background: url(../assets/hockey_1.jpg);
    background-size: 25rem;
    background-repeat: repeat;
    background-position-y: 15rem;
    background-position-x: 0rem;
  }
  15% {
    background: url(../assets/hockey_2.jpg);
    background-size: 25rem;
    background-position-y: 17rem;
    background-position-x: -41rem;
  }
  35% {
    background: url(../assets/hockey_3.jpg);
    background-size: 25rem;
    background-position-y: 29rem;
    background-position-x: -41rem;
  }
  40% {
    background-position-y: 23rem;
    background-position-x: 0rem;
  }
  50% {
    background: url(../assets/hockey_1.jpg);
    background-size: 25rem;
    background-repeat: repeat;
    background-position-y: 21rem;
    background-position-x: 30rem;
  }
  75% {
    background: url(../assets/hockey_2.jpg);
    background-size: 25rem;
    background-repeat: repeat;
    background-position-y: 17rem;
    background-position-x: 48rem;
  }
  80% {
    background-position-y: 15rem;
    background-position-x: 0rem;
  }

  100% {
    background: url(../assets/hockey_3.jpg);
    background-size: 25rem;
    background-repeat: repeat;
    background-position-y: 21rem;
    background-position-x: -23rem;
  }
  100% {
    background-position-y: 15rem;
    background-position-x: -20rem;
  }
}

@keyframes send{
  0%{transform: translateX(-50rem);}
  25%{transform: translateX(-10rem);}
  50%{transform: translateX(0rem);}
  75%{transform: rotate(360deg);}
  100%{transform: translateX(0); transform: rotate(0deg);}
}